<!DOCTYPE html>
<html lang="en">

<head>
    <title>BLOBBER Chat</title>
    <!--Link to CSS 
    <link href="../static/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" /> -->
    <link href="../static/styles/style.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">

        // Connect to the SocketIO server
        // Connection URL has the following format, relative to the current page:
        //      http[s]://<domain>:<port>[/<namespace>]
        var socket;
        $(document).ready(function () {
            socket = io.connect('https://' + document.domain + ':' + location.port + '/chat');
            socket.on('connect', function () {
                socket.emit('join', {});
            });
            socket.on('status', function (data) {
                $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function (data) {
                $('#chat').val($('#chat').val() + data.msg + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            // Prevent sending empty lines into chat
            $('#send').click(function (e) {
                if ($('#text').val().length > 0) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', { msg: text });
                }
            });
            // Allows send mesg via enter key press
            // Prevent sending empty lines into chat
            $('#text').keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code == 13 && $('#text').val().length > 0) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', { msg: text });
                }
            });

        });
        function leave_room() {
            socket.emit('left', {}, function () {
                socket.disconnect();
                session.clear()
                // go back to logout
                window.location.href = "{{ url_for('index') }}";
            });
        }

        function go_back() {
            socket.emit('left', {}, function () {
                socket.disconnect();
                // go back to logout
                window.location.href = "{{ url_for('dashboard') }}";
            });


        }
    </script>
</head>


<body>

    <header>
        <div class="container">
            <nav class="nav">
                <a href="/">
                    <h1 class="nav-logo"> (⊃○•́‿•̀○)⊃ blobber chatroom </h1>
                </a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="faq" class="nav-link">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link" onclick=leave_room()>Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="landing-page">

        <div class="container">
            <div class="content">
                <div class="content-details">
                    <div class="glass" style="width:750px;">
                        <div class="dashboard">
                            <div class="chatwindow">
                                <h2 style="color:white; font-weight: 700; font-size: 30px;">Room : {{session['room']}}
                                </h2><br>
                                <textarea disabled id="chat" style="border-radius: 2rem; text-indent: 2rem;" cols="70"
                                    rows="20" placeholder="No messages yet. Start one..."></textarea>
                                <div class="search">
                                    <input type="text" id="text" size="60" class="search-bar"
                                        placeholder="Enter your message here" required autofocus />

                                    <button type="button" id="send"
                                        style="background-image: linear-gradient(to right, #ff83d5, #ffccb0); color: #fff;
                        cursor: pointer; width: 10rem; height: 5.5rem; border-radius: 5rem; border: none; margin-left: -10rem;"
                                        class="">SEND</button><br><br>
                                </div>
                                <button type="button" class="nav-link" style="background-image: linear-gradient(to right, #ff83d5, #ffccb0); color: #fff;
                                cursor: pointer; width: 10rem; height: 3rem; border-radius: 5rem; border: none;"
                                    onclick=go_back()>Go Back</button>
                                <!-- <a href=" {{ url_for('dashboard') }}">Go Back</a> -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="image-group" style="size:50%;">
                    <img src="../static/img/liq-5.png" alt="" class="blob-large">
                    <img src="../static/img/liq-4.png" alt="" class="blob-bean">
                </div>
            </div>

            <br>
            <br>
            <!-- <button type="button" class="" style="background-image: linear-gradient(to right, #ff83d5, #ffccb0); color: #fff;
                cursor: pointer; width: 15rem; height: 4rem; border-radius: 5rem; border: none;"
                onclick=leave_room()>Logout</button> -->
        </div>



        <img src="../static/img/liq-1.png" alt="" class="blob blob-1 ">
        <img src="../static/img/liq-2.png" alt="" class="blob blob-2 ">
        <img src="../static/img/liq-3.png" alt="" class="blob blob-3 ">
        <img src="../static/img/liq-6.png" alt="" class="blob blob-4 ">
    </section>

</body>

</html>