<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="nav">
                    <!--<a href="../templates/index.html" class="logo-box">
                   <img src="../static/img/logo.png" alt="" class="logo" style="width:220px; height:70px;">--> 
                   <a href="/">
                    <h1 class="nav-logo"> (⊃○•́‿•○)⊃ blobber </h1></a>
                    <!--</a>-->
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="about" class="nav-link">About</a>
                        </li> 
                        <li class="nav-item">
                            <a href="faq" class="nav-link">FAQ</a>
                        </li> 
                        <li class="nav-item">
                            <a href="login" class="nav-link">Login</a>
                        </li> 
                    </ul>
                </nav> 
            </div>
        </header>
        <section class="landing-page">
            <div  class="container">
                <div class="content">
                    <div class="content-details">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <header>
        <div class="container">
            <nav class="nav">
                <!--<a href="../templates/index.html" class="logo-box">
                   <img src="../static/img/logo.png" alt="" class="logo" style="width:220px; height:70px;">-->
                <a href="/">
                    <h1 class="nav-logo"> (⊃○•́‿•̀○)⊃ blobber </h1>
                </a>
                <!--</a>-->
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="faq" class="nav-link">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a href="login" class="nav-link">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="landing-page">
        <div class="container">
            <div class="content">
                <div class="content-details">

                    <div class="search">
                        <h1 class="login-title"
                            style="margin-bottom: 1.5rem; color: white; font-size: 3rem; margin-left: 1rem;"> Login
                        </h1>
                        <input type="text" class="search-bar" style="margin-bottom: 2.5rem;" placeholder="username"
                            required>
                        <br>
                        <input type="text" class="search-bar" placeholder="password" style="margin-bottom: 2.5rem;"
                            required> <!-- can use this for tampal !!! forms -->
                        <a href="{{ url_for('dashboard') }}">
                            <input type="button" class="search-btn-login" style="background-image: linear-gradient(to right, #ff83d5, #ffccb0); color: #fff;
                            cursor: pointer; width: 10rem;" value="Login"> </a>



                    </div>
                    <a href="{{ url_for('register') }}" style="color:white; text-align: center;">
                        New to Blobber? Sign up here </a>

                </div>

                <div class="image-group">
                    <img src="../static/img/liq-5.png" alt="" class="blob-large">
                    <img src="../static/img/liq-4.png" alt="" class="blob-bean">
                </div>
            </div>
        </div>

        <img src="../static/img/liq-1.png" alt="" class="blob blob-1">
        <img src="../static/img/liq-2.png" alt="" class="blob blob-2">
        <img src="../static/img/liq-3.png" alt="" class="blob blob-3">
        <img src="../static/img/liq-6.png" alt="" class="blob blob-4">
    </section>
</body>

</html>
